
#ignore data folder
data/
#ignore content folder
dependencies/

#ignore DS_Store files
.DS_Store

#ignore .Trash files
.Trash*

#ignore ipynb checkpoints
.ipynb_checkpoints

#ignore spark-warehouse
spark-warehouse/